body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

header {
    background: #004d7a;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.menu a {
    background: #006494;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 18px;
}

.menu a:hover {
    background: #0582ca;
}

/* Para las páginas internas */
section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #bbb;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #006494;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0582ca;
}
